* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  box-sizing: border-box;
}
.logo-name {
  font-weight: 200;
}
.logo-name span {
  font-weight: 800;
}
#header {
  overflow: hidden;
  background-color: red;
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
}
#nav-bar ul {
  display: flex;
}
.nav-link {
  color: white;
}

#page {
  margin-top: 150px;
}
